.root {
    -fx-background-image: url("../images/popup.jpg");
    -fx-background-size: cover;
}
Label {
    -fx-text-fill:white ;
    -fx-effect: dropshadow( gaussian , black , 10 , 0.1 , 4 , 4 );
    -fx-background-color: rgba(2,150,178,0.1);
    -fx-background-radius: 30px, 30px, 30px, 10px;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe Print";
}
TextField{
    -fx-text-fill:white ;
    -fx-background-color: rgba(2,150,178,0.4);
    -fx-background-radius: 30px, 30px, 30px, 10px;
    -fx-font-size: 12px;
    -fx-font-family: "Segoe Print";
    -fx-font-weight: bold;
}

ChoiceBox{
    -fx-background-color: rgba(2,150,178,0.3);
    -fx-background-radius: 30px, 30px, 30px, 10px;
}
Button {
    -fx-text-fill:white ;
    -fx-effect: dropshadow( gaussian , black , 10 , 0.1 , 4 , 4 );
    -fx-font-size: 24px;
    -fx-font-family: "Segoe Print";
    -fx-font-weight: bold;
    -fx-background-color: rgba(0,0,0,0);
}

Button:hover {
    -fx-text-fill: pink ;
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}