.root {
    -fx-background-image: url("../images/Solved.png");
    -fx-background-size: cover;
}
Button {
    -fx-text-fill:white ;
    -fx-effect: dropshadow( gaussian , black , 10 , 0.1 , 4 , 4 );
    -fx-font-size: 24px;
    -fx-font-family: "Segoe Print";
    -fx-font-weight: bold;
    -fx-background-color: rgba(0,0,0,0);
}

Button:hover {
    -fx-text-fill: white ;
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}