# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\הנדסת מערכות מידע\שנה ב\סמסטר ד\נושאים מתקדמים בתכנות\ATP-Project-PartC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
